/* RED: #ff0000 old : ff0000
BLUE: #00b8ff old : 00b4fa */

.App {
  width: 100%;
  text-align: center;
  font-family: 'Cutive Mono', monospace;
  color: #3e3e3e;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 125%;
}

h3 {
  font-family: 'Cutive Mono', monospace;
  font-size: 25%;
}

input {
  padding: 10px;
  width: 80%;
  vertical-align:middle;
}

/* NAV BAR */

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: unset;
  height: 4vw;
  background-color: white;
  z-index: 3;
  margin-bottom: 10px;
}

#nav-btn {
  width: 100%;
}

.avatar {
  width: 5vw;
  padding: 10px;
}

.nav-item {
  width: auto;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
}

#left {
  float: left;
  margin-left: 10px;
}

#center {
  float: right;
  width: 100%;
  z-index: 3;
}

#right {
  float: right;
  margin-right: 10px;
}

/* SLANT METER */

.slant-meter {
  height: 2vw;
  width: 50%;
  background: #ff0000;
}

.filler {
  background: #3093ce;
  height: 100%;
  transition: width .2s ease-in;
}


/* FORMS */

.form-field {
  margin: 25px;
}

.title {
  font-size: 500%;
  font-family: 'Righteous', cursive;
  letter-spacing: 5px;
}

.form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url('./background_gradient.jpg');
  padding: 50px;
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  display: grid;
}

.form:hover {
  -webkit-animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  z-index: 2;
}

/* INDEX PAGE */

.index {
  background-image: url('./vert_background.jpg');
  background-size: contain;
  margin-top: 5vw;
}

.page-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#index-title {
    text-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e, -9px -9px #3e3e3e;
}


/* METHODOLOGY PAGE */

.header {
  background-color: #ff0000;
  height: 100%;
  color: white;
}

.block-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 75%;
  height: 75%;
  padding: 50px;
  position: relative;
	top: 75;
	bottom: 0;
	left: 0;
	right: 0;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

#methodology {
  font-size: 800%;
  -webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
  position: relative;
}

.sources-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.source-item {
  list-style-type: none;
  width: 350px;
  height: inherit;
  padding: 5%;
  font-size: 125%;
}

.source-item:hover {
  -webkit-animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  z-index: 2;
}

/* LOGIN / SIGN UP PAGES */
#sign-up {
  width: 400px;
  height: 450px;
}

#login {
  height: 300px;
  width: 400px;
}


/* PROFILE PAGE */

#profile {
  height: 500px;
  width: 600px;
}

#profile-avatar {
  width: 75%;
}

.profile-header {
  background-image: url('./background_gradient.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #282c34;
  min-height: 100vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.liked-feed-item {
  margin: 15px;
  color: white;
}
.liked-feed-item:hover {
  color: blue;
}

.feed-image {
  width: 25%;
  padding: 5px;
  float: left;
  border-radius: 50px;
}


/* POSTS */

.post-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.post-column {
  width: 450px;
}

.post-outter-div {
  text-align: center;
  padding: 10px 20px;
}

.post {
  position: relative;
  width: 100%;
  background-color: white;
}

.post:hover {
  -webkit-animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  z-index: 2;
}

.post-image {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.post-content {
  text-align: left;
  padding: 10px;
}

/* COMMENTS */

.comment {
  animation: shake 0.5s;
  animation-iteration-count: 1;
  margin: 5px;
  text-align: left;
}

.comment-feed {
  display: flex;
  flex-direction: column;
}

.avatar-small {
  width: 50px;
}

/* BUTTONS */

button {
  text-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.cute-button {
  background-color: #bf33e9;
  font-family: 'Righteous', cursive;
  margin: 3%;
  color: white;
  box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e;
}

.cute-button:disabled {
  background-color: #dcb9e7;
  color: gray;
  transition: background-color .5s ease-in;
}

.topic-button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 80%;
}

.topic-button {
  text-transform: uppercase;
  letter-spacing: 10px;
  background-color: #3093ce;
  background-size: contain;
  border: none;
  color: #fff;
  font-size: 60%;
  margin: 1vw;
  padding: 10px;
  height: 60px;
  width: 250px;
  overflow: hidden;
  vertical-align: middle;
  transform: rotate(6deg);
}

#all-topics {
  background-color: #ff0000;
}

#all-topics:hover {
  background: #fff;
  color: #3e3e3e;
}

.topic-button:hover {
  background: #fff;
  color: #3e3e3e;
  transform: rotate(0deg);
  transition-duration: 0.5s;
}

 @keyframes shake {
   0% { transform: translate(1px, 1px) rotate(0deg); }
   10% { transform: translate(-1px, -2px) rotate(10deg); }
   20% { transform: translate(-3px, 0px) rotate(1deg); }
   30% { transform: translate(3px, 2px) rotate(0deg); }
   40% { transform: translate(1px, -1px) rotate(1deg); }
   50% { transform: translate(-1px, 2px) rotate(10deg); }
   60% { transform: translate(-3px, 1px) rotate(0deg); }
   70% { transform: translate(3px, 1px) rotate(10deg); }
   80% { transform: translate(-1px, -1px) rotate(1deg); }
   90% { transform: translate(1px, 2px) rotate(0deg); }
   100% { transform: translate(1px, -2px) rotate(10deg); }
 }

@-webkit-keyframes shadow-pop-tl {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}
@keyframes shadow-pop-tl {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
