.App {
  text-align: center;
  font-family: 'Cutive Mono', monospace;
}

.title {
  font-size: 15vw;
  font-family: 'Righteous', cursive;

}

.sources-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 3vw;
}

.source-item {
  width: 400px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-outter-div {
  text-align: center;
  padding: 10px 20px;
}

.post {
  width: 100%;
  background-color: white;
}

.post:hover {
  width: 100%;
  background-color: white;
  -webkit-animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


.comment {
  -webkit-animation: scale-up-ver-top .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  	        animation: scale-up-ver-top .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.post-image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
}

.post-image:hover {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  transform: ;
}

form {
  height: 100%;
  width: 100%;
}

form[class='comment-form'] {
  padding: 3vw;
  border-top: 1px
}

input {
  padding: 2%;
  width: 100%;
}

label {
  font-family: 'Cutive Mono', monospace;
  font-size: 1vw;
  letter-spacing: 4px;
  text-align: left;
}

.topic-button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.topic-button {
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 50%;
  letter-spacing: 4px;
  position: relative;
  background-color: #00b5fa;
  background-size: contain;
  border: none;
  color: #fff;
  margin: 1vw;
  padding: 5px;
  height: 50px;
  width: 200px;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  vertical-align: middle;
}

.topic-button:hover {
  background: #fff;
  color: #000;
  transform: rotate(-10deg);
}


.slant-meter {
  position: relative;
  height: 2vw;
  width: 25vw;
  background: #ff0019;
}

.filler {
  background: #00b5fa;
  height: 100%;
  transition: width .2s ease-in;
}

.page-header {
  background-image: url('./background_gradient.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.profile-header {
  background-image: url('./background_gradient.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-8 13:2:24
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

@-webkit-keyframes shadow-pop-tl {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}
@keyframes shadow-pop-tl {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}
